:root {
  --white: white;
  --orange: #e28625;
  --blue: #006971;
  --green: #004140;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .container {
    flex-direction: row;
  }
}

.card {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--primary);
  color: var(--second);

  padding: 3rem;
  border: none;
  border-radius: 0.5rem;
}
.card.orange {
  --primary: var(--orange);
  --second: var(--white);
}
.card.blue {
  --primary: var(--blue);
  --second: var(--white);
}
.card.green {
  --primary: var(--green);
  --second: var(--white);
}

.card svg {
  margin-bottom: 2rem;
}
.card header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.card strong {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.card p {
  margin: 0;
  font-weight: 200;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}
.card button {
  background-color: var(--second);
  color: var(--primary);

  padding-block: 0.75rem;
  padding-inline: 2rem;

  cursor: pointer;
  border: 0.15rem solid var(--second);
  border-radius: 1.5rem;

  font-weight: 300;
  font-size: 1rem;
}
.card button:hover {
  background-color: transparent;
  color: var(--second);
}
